@import url('https://use.fontawesome.com/releases/v6.5.2/css/all.css');

.container-game {
    overflow: hidden;
    position: relative;
}

.star {
    -webkit-text-stroke: 0.1px var(--color-light-blue);
    position: absolute;
    color: var(--color-text);
    font-size: 24px;
    animation: anim 5s linear forwards;
    z-index: -1;
    height: 10vh;
}

.star::before {
    content: "\f2dc";
    font-family: "FontAwesome";
    text-shadow: 0 0 5px var(--color-text), 0 0 20px var(--color-text), 0 0 50px var(--color-text);
}

@keyframes anim {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}


.star__container {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-black-fade);
    z-index: 2;
    border: 1px solid var(--color-border);
    border-radius: 20px;
}



@media(max-width: 1350px) {
    .star__container {
        padding: 10px 10px 10px 10px;
        flex-direction: row;
        flex-wrap: wrap;
        height: 120px;
        width: 150px;
    }
}

#blue-star,
#red-star,
#green-star,
#white-star {
    font-size: 16px;
    color: var(--color-text);
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    background: none;
    cursor: url(/icons/cursors/pointer.png), pointer;
    transition: all 0.5s ease-in-out;
}

@media(min-width: 585px) {
    #blue-star,
    #red-star,
    #green-star,
    #white-star {
        font-size: 10px;
        width: 25px;
        height: 25px;
    }
    .star__container {
        width: 200px;
        height: 50px;
    }
}

#white-star {
    background-color: var(--color-white-fade);
}

#blue-star {
    background-color: var(--color-blue);
}

#red-star {
    background-color: var(--color-red-fade);
}

#green-star {
    background-color: var(--color-green-fade);
}

.active {
    box-shadow: 0 0 5px var(--color-text),
        0 0 10px var(--color-text),
        0 0 20px var(--color-text),
        0 0 50px var(--color-text),
        0 0 75px var(--color-text);
}